@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
/* Sayfa sablonu */
body{
    margin: 0px;
    padding: 0px;
	background: #fff;
	/*background: #E6E1E1;
	background: #000;*/
	font-family: 'Mulish', sans-serif;
}
.koyu_mod {
  background-color: black;
}

.wrap {
    width:100%;

    margin:0 auto;
}
.header { 
    height:120px;
    margin-bottom:10px;
	background-color: #000;
	border: 0px solid white;
	border-bottom-width: 0.5px;
}
.content {
    width:80%;

    height:450px;
	
	margin: 0px 0px 50px 5px;
    float:left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
    clear: both;
    position: relative;
    height: 245px;
	bottom:0px;
    margin-top: 25px;
	background-color: black;
	border: 0px solid white;
	border-top-width: 0.5px;
}

/* Sayfa sablonu */

.logo{
	width: 30%;
	height: 100%;
	margin:0 0 0 0;
	display:table;
}

.logo .img {
	width: 80%; 
	height: 85%;
	margin:0px auto 0 auto;
	display:table;

}
.mega_menu{
	width: 70%;
	height: 120px;
	float: right;
	margin-top: -120px;	
	display: flex;
	justify-content: center;
	align-items: center;
}


.mega_menu ul{
	text-align: center;
	line-height: 50px;
	position: relative;
}

.mega_menu ul li{
	display: inline-block;
	margin: 0 15px;
	padding: 0 10px;
}

.mega_menu ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	font-family: 'Mulish', sans-serif;
	font-size: 15px;
	display: block;
}

.wrapper .banner_img img{
	width: 300px;
	height: 300px;
}

.mega_menu ul li .sub_menu{
	position: absolute;
	z-index: 10;
	background: #2c2c2c;
	left: 340px;
	top: 53px;
	padding: 15px 15px 10px 15px;
	display: flex;
	justify-content: space-around;
	visibility: hidden;
	line-height: 24px;
	border-radius: 10px;

}

.mega_menu ul li:hover{
    border-radius: 8px;
	background: #363636;
}

.mega_menu ul li:hover a{
	color: white;
	/*color: #3daaff;*/
}

.mega_menu ul li:hover .sub_menu{
	visibility: visible;
}

.mega_menu ul li .sub_menu .col img{
	width: 100px;
	height: 100px;
	display: block;
	margin: -10px 5px 5px 5px;

}

.mega_menu ul li .sub_menu p{
	color: #fff;
	margin: 6px;
	font-size: 10px;
}

/* Sayfa Şablonu */


/* Açılış Efekti */

#preloader{
	background: #000;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
.box{

	margin: 200px 0px 0px 450px;
	position: relative;
	width: 600px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box h2{
	color: #fff;
	font-size: 105px;
	font-family: 'Libre Barcode 128 Text', cursive;
	font-weight: 600;
	text-shadow: 0 0 10px #0000FF,
		0 0 20px #0000FF,
		0 0 40px #0000FF,
		0 0 80px #0000FF,
		0 0 120px #0000FF;
}

.lightbar{
	position: absolute;
	top: 0;
	left:0;
	width: 10px;
	height: 100%;
	border-radius: 10px;
	background: #fff;
	z-index: 2;
	box-shadow: 0 0 10px #0000FF,
		0 0 20px #0000FF,
		0 0 40px #0000FF,
		0 0 80px #0000FF,
		0 0 120px #0000FF;
	animation: animatelightbar 3s linear infinite;
}
@keyframes animatelightbar{
	0%,5%{
		transform:scaleY(0) translateX(0);
	}
	10%{
		transform:scaleY(1) translateX(0);
	}
	90%{
		transform:scaleY(1) translateX(calc(600px - 10px));
	}
	95%,100%{
		transform:scaleY(0) translateX(calc(600px - 10px));
	}
}

.toplayer{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background: #000;
	animation: animatetoplayer 6s linear infinite;
}
@keyframes animatetoplayer{
	0%,2.5%{
		transform:translateX(0);
	}
	5%{
		transform:translateX(0);
	}
	45%{
		transform:translateX(100%);
	}
	47.5%,50%{
		transform:translateX(100%);
	}
	
	50.001%,52.5%{
		transform:translateX(-100%);
	}
	55%{
		transform:translateX(-100%);
	}
	95%{
		transform:translateX(0%);
	}
	97.5%,100%{
		transform:translateX(0%);
	}
}
/* Açılış Efekti */


/* Kartlar */

.card{
	position: relative;
	margin: 40px;
	width: 300px;
	height:400px;
	background: #fff;
	
}
.card::before{
	content:"";
	position: absolute;
	top:-4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	transform: skewX(1.5deg) skewY(1.5deg);
	background: linear-gradient(315deg, #545454,  #3daaff);
}
.card::after{
	content:"";
	position: absolute;
	top:-4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	transform: skewX(1.5deg) skewY(1.5deg);
	background: linear-gradient(315deg, #545454, #3daaff,);
	filter: blur(5px);
}
.card2{
	position: relative;
	margin: 40px;
	width: 300px;
	height: 400px;
	background: #fff;
}
.card2::before{
	content:"";
	position: absolute;
	top:-4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	transform: skewX(1.5deg) skewY(1.5deg);
	background: linear-gradient(315deg, #000, #b80617);
}
.card2::after{
	content:"";
	position: absolute;
	top:-4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	transform: skewX(1.5deg) skewY(1.5deg);
	background: linear-gradient(315deg, #000, #b80617);
	filter: blur(5px);
}

.card2 span{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height:100%;
	background: #000;
	z-index: 10;
}

.card3{
	position: relative;
	margin: 40px;
	width: 300px;
	height: 400px;
	background: #fff;
}

.card3::before{
	content:"";
	position: absolute;
	top:-4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	transform: skewX(1.5deg) skewY(1.5deg);
	background: linear-gradient(315deg, #000, #FFD700);
}
.card3::after{
	content:"";
	position: absolute;
	top:-4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	transform: skewX(1.5deg) skewY(1.5deg);
	background: linear-gradient(315deg, #000, #FFD700);
	filter: blur(5px);
}

.card3 span{
	position: relative;
	margin: 0 auto;
	display: table;
	width: 100%;
	height:100%;
	z-index: 1;
	background-color: #000;
}

.card span{
	position: relative;
	margin: 0 auto;
	display: table;
	width: 100%;
	height:100%;
	z-index: 1;
	background-color: #000;
}

.ana_img{
	width: 95%; 
	height:67%; 
	margin: 7.5px auto 0px;	
}

.isim{
	width: 95%; 
	height:6%; 
	margin: 30px 7.5px 3px;
	padding: 0;
}
.isim p{
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: 'Cabin', sans-serif;

}
.yuzde{
	width: 28%; 
	max-height: 14%;
	background-color: #CE0407;
	margin: 10px 0px 0px 7.5px ;		
	display: flex;
	justify-content: center;
	align-items: center;
}

.yuzde p{
	font-family: 'Cabin', sans-serif;
	font-size: 27px;
	letter-spacing: 1px;
	font-weight: bold;	
	color: white;
}

.sepet{
	width: 65%; 
	max-height:14%; 
	margin: 10px 7.5px 0px 0px;
	background-color: #494a4f;
}

.sepet:hover p{
	color: white;
}

.fiyat{
	width: 60%;
	height: 100%;
}

.eski_fyt{
	width: 35%; 
	max-height:20%; 
	margin: -7px 0px 0px 5px ;
	text-align: center;
}

.eski_fyt p{
	font-family: 'Cabin', sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	color: #ff6457;
}
.yeni_fyt{
	width: 40%; 
	height:30%; 
	margin: -24px 0px -10px 27.5px ;
	text-align: center;
}

.yeni_fyt p{
	font-family: 'Cabin', sans-serif;
	font-size: 23px;
	letter-spacing: 2.5px;
	font-weight: 600;	
	color: #01ff00;
}

.spt_icon{
	width: 30%;
	height: 100%;
	border-left: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.spt_icon .img_hvr{
	  display: none;
      position: absolute;
}

.spt_icon:hover,.sepet:hover{
	background-color:#04C403;   
}

.spt_icon:hover img,.sepet:hover img{
    display: inline;	
	color: white;
	animation: shake 0.9s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
	}
}
/* Kartlar */

/* Banner */
.banner {
    width:70%;
    height:45px;
	margin: 70px 0px 5px 75px;
	border-style: solid; 
	border-color: #0a5d8e;
	border-radius: 3px;
    border-width: 0px 0px 0px 7px;
	background-image: url("banner1.jpg");
    background-position: center;
    float:left;
}
.banner2 {
    width:70.5%;
    height:45px;
	margin: 0px 0px 5px 75px;
	border-style: solid; 
	border-color: #000;
	border-radius: 3px;
    border-width: 0px 0px 0px 7px;
	background-image: url("banner3.jpg");
    background-position: center;
    float:left;
}

.banner3 {
    width:70.5%;
    height:45px;
	margin: 0px 0px 5px 75px;
	border-style: solid; 
	border-color: #FFD700;
	border-radius: 3px;
    border-width: 0px 0px 0px 7px;
	background-image: url("banner.jpg");
    background-position: center;
    float:left;
}

.banner5 {
    width:70.8%;
    height:120px;
	margin: -15px 0px 50px 75px;
	border-radius: 10px;
	border: solid #ccc;
    border-width: 1px;
	background-image: url("banner8.jpg");
    background-position: center;
    float:left;
	transition: transform .3s;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner5:hover{

transform: scale(1.02);
}
.banneryazi{
	border-radius: 15px;
	padding: 10px;
	font-size: 34px;
	background-color: #11000d;
	font-weight: 900;
	font-family: 'Cabin', sans-serif;
	color: white;
	letter-spacing: 1.5px;
}
.banneryazi2{
	margin-top: 6px;
	margin-left: 18px;
	font-size: 27px;
	font-family: 'Cabin', sans-serif;
	color: white;
	letter-spacing: 1.5px;
}
/* Banner */


/* Slider */
.slideshow-container {
  position: relative;
	margin-top: 50px;
	margin-left: 70px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.caption-container {
  margin-top: -85px;
  text-align: center;
  width: 1080px;
  height: 45px;
  background-color: #000;
  color: white;
  position: relative;
  z-index: 10;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#oyunadi{
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 10px;
  margin-top:10px;
  padding: 8px 10px 6px 10px;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
}
.caption-bar{
  width: 175px;
  height: 45px;
  background-color: #03A03C;
  margin-top: -63px;
  border-bottom-right-radius: 15px;
  float: right;
}
.caption-img{
	width: 30px;
	height: 30px;
	padding-left:10px;
	padding-right:10px;
	padding-top: 7px;
}
/* Caption text */
.text {
  color: white;
  font-size: 19px;
  position: absolute;
  margin-left: 55px;
  margin-bottom: 80px;
  bottom: 0px;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 2.5px;
  margin-top: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Slider */


/* Footer */
.altmenu{
	text-align: center;
	height: 20px;
	padding: 30px;
	color:white;

}
.altmenu a{
	font-family: 'Mulish', sans-serif;
	color:white;
	font-size: 19px;
	padding: 20px;
	text-decoration: none;
	letter-spacing: 0.5px;
}
.altmenu a:hover{
	text-decoration: underline;
}

.sosyal{
	height: 40px;
	display: flex;            
	justify-content: center;            
	align-items: center;
}
.sosyal2{
	margin-top: 10px;
	height: 40px;
	display: flex;            
	justify-content: center;            
	align-items: center;
}.sosyal2 img{
	padding: 35px;
	align-items: center;
	width: 35px;
	height: 35px;
}
.sosyal img{
	padding: 35px;
	align-items: center;
	width: 35px;
	height: 35px;
}

.footer1{
	border-radius: 30px;
}
.footer2{ 
	margin-left: 5%;
}
/* Sosyal Medya icon effekt */

.icon {
  display: inline-block;
}

.icon:hover img {
  display: none;
}

.icon .img-top {
  display: none;
}

.icon:hover .img-top {
  display: inline;
}

img.img-top {
  transition: transform .9s ease-in-out;
}

img.img-top:hover {
  transform: rotate(360deg);
}

/* Sosyal Medya icon effekt */

.altmenu hr {
  margin-top: 30px;
  width: 55%;
  border: 0;
  border-radius: 10px;
  height: 1.3px;
  background-image: linear-gradient(to right, #f33939, #1877F2, #00acee, #8848b4, #FF0000);
}
/* Footer */

/*	SIDEBAR */


.sidebar {
    width:18%;
    height:450px;
	margin-top: 15px;	
	border-left: .5px solid rgba(0,0,0, .75);
	border-right: .5px solid rgba(0,0,0, .75);
}

.sidebar h2{
	margin:0;
	padding-bottom:8px;
	padding-top:8px;
	padding-left:10px;
	border-bottom: 0.5px solid rgba(0,0,0, .5); 
}

.announcmentList{
	display: flex;
	flex-direction: column;
}

.announcment{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 4px;
	border-bottom: 1px solid rgba(0,0,0, .5);
}

.announcmentHeader{
	padding: 24px;
}

.announcmentContent{
	display: flex;
	flex-direction: column;
}

.announcmentContentHeader{
	font-size: 18px;
}

.announcmentShortContent{
	font-size: 10px;
}

.allAnnoucments{
	display: flex;
	justify-content: flex-end;
    margin-top: 16px;
    padding-right: 10px;
}

.cols{
	display: flex;
	flex-direction: row;
}

.colContent{
	width: 75%;
	display: flex;
    align-items: center;
	flex-direction: column;
}


/* Hakkımızda */
.aboutlogo{
	width: 45%;
	height: 30%;
	margin:20px auto 0 auto;
	display:table;
	position: relative;
}

.aboutlogo img{	
	transform:skewY(0deg);
	width: 100%;
	height: 100%;
	margin:0 auto 0 auto;
	display:table;
}

.baslik{		/*background-color: aqua;*/
	width: 80%;
	height: 30%;
	margin:0 auto 0 auto;
	display:table;
	z-index: 10;
	position: relative;
}

.baslik h3{	
	text-shadow: 0px 0px 10px #000;
	font-size: 30px;
	font-family: 'Mochiy Pop P One', sans-serif;
	letter-spacing: 2px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.baslik p {
	font-size: 20px;
	letter-spacing: 1px;
	color: white;
	font-family: 'Cabin', sans-serif;
    text-align: center;
	margin-top: -30px;
	text-shadow: 0px 0px 5px #000;
}

.content_about_middle { /* En arka */
	width: 75%;
    height:400px;
	margin:0px auto 0 auto;
	display:table;
}
.content_about_middle1 { /* En arka */
	width: 75%;
    height:400px;
	margin:0px auto 0 auto;
	display:table;
	border: 1px;
	background-color: black;
}
.about_middle1{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: black;
	margin:15px auto 0px auto;
	display:table;
	width: 100%;
	height: 100%;
}
.about_middle{
	transform:skewY(2deg);
	background-color: #acabab;
	margin:15px auto 0px auto;
	display:table;
	width: 100%;
	height: 100%;

}
.about_middle2{
	transform:skewY(-2deg);
	background-color:#666666;
	margin:0px auto;
	display:table;
	width: 100%;
	height: 100%;

}
.about_middle3{
	background-color: black;
	margin:-1px auto;
	display:table;
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.about_middle img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.middle_baslik h3{
	margin-top: 50px;
	transform:skewY(-2deg);
	font-size: 30px;
	font-family: 'Mochiy Pop P One', sans-serif;
	letter-spacing: 2px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.middle_baslik p{	
	padding: 30px 100px 5px 100px;
	transform:skewY(-2deg);
	font-size: 21px;
	letter-spacing: 1px;
	color:black;
	font-family: 'Cabin', sans-serif;
    text-align: justify;
	margin-top: -30px;
}

#alt_metin{	
	padding: 30px 100px 5px 100px;
	transform:skewY(0deg);
	font-size: 21px;
	letter-spacing: 1px;
	color:white;
	font-family: 'Cabin', sans-serif;
    text-align: justify;
	margin-top: -30px;
}

.kapsam{
  margin-top: 30px;
  transform:skewY(-2deg);
  display: flex;
  flex-wrap: nowrap;
}

.kapsam2{
  margin-top: 0px;
  margin-bottom: 50px;
  transform:skewY(2deg);
  display: flex;
  flex-wrap: nowrap;
}

.middle_baslik2 h3{
	margin-top: 50px;
	text-shadow: 0px 0px 10px #000;
	transform:skewY(2deg);
	font-size: 30px;
	font-family: 'Mochiy Pop P One', sans-serif;
	letter-spacing: 2px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle_baslik2 p{	
	padding: 30px 100px 5px 100px;
	transform:skewY(2deg);
	font-size: 21px;
	letter-spacing: 1px;
	color:white;
	font-family: 'Cabin', sans-serif;
    text-align: justify;
	margin-top: -30px;
	text-shadow: 0px 0px 7px #000;
}

.why{
	border: 3px solid black;
	border-radius: 30px;
	transform:skewY(0deg);
	width: 20%;
	height: 40%;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.why img{
	margin-bottom:20px;
	margin-top:-20px;
	width: 77px;
	height: 77px;
	padding: 50px;
}

.marka{
	transform:skewY(0deg);
	width: 20%;
	height: 40%;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.marka img{
	margin-bottom:20px;
	margin-top:-5px;
	width: 105px;
	height: 105px;
	padding: 0px;
}

.metin{
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	position: absolute;
    bottom: 0;
}

.bosluk {
	width: 75%;
    height:175px;
	margin:50px auto 0 auto;
	display:table;
	background-color: black;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

/* Sosyal Medya icon effekt */

.zoom {
  display: inline-block;
}

.zoom:hover img {
  display: none;
}

.zoom .zoom_top {
  display: none;
}

.zoom:hover .zoom_top {
  display: inline;
}

img.zoom_top {
transition: transform .3s;}

img.zoom_top:hover {
transform: scale(1.25);
}

.marka_metin{
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	margin: -17px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	letter-spacing: 1px;
}

/* Sosyal Medya icon effekt */

.btn{
	margin:-25px auto 0 auto;
	display:table;
}
.button {
  border-radius: 10px;
  background-color: #29C012;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 20px;
  width: 192px;
  transition: all 0.3s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* Hakkımızda */

.columns {
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.main-column {
  flex: 2;
}

.article {
  background: mediumseagreen;
  border: 5px solid seagreen;
  color: white;
  flex: 1;
  margin: 10px;
  padding: 20px;
}
.no{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	width: 30px;
	height:30px;
}
.no p{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	width: 30px;
	height:30px;
}

/*İletisim Sayfası*/

form{
	width: 100%;
	height: 400px;
	margin: 10px auto;
	display: table; 
	padding: 0px 250px;	margin-left: 100px;


}
input[type=text],textarea {
  width: 80%;	
  font-family: 'Cabin', sans-serif;
  padding: 8px 13px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 5px solid #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  font-size: 20px;
  border-radius: 20px;
}

.btngndr {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border-radius: 20px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  transition-duration: 0.3s;
  cursor: pointer;
  letter-spacing: 1px;margin-left: 150px;
}
.btn_gndr {	
  background-color: white;
  color: black;
  border: 4px solid #ccc;
}

.btn_gndr:hover {
  border: 4px solid #000;
  background-color: #000;
  color: white;
}
input[type=text]:focus,textarea:focus {
  border: 4px inset #000;
}

.textareaClass{
	resize: none;
	height: 135px;
}

.cizgi {
transform:skewY(-2deg);
 margin-top: -10px;
 margin-bottom: -25px;
  width: 50%;
  border: 0;
  border-radius: 10px;
  height: 1.2px;
  background-image: linear-gradient(to right, #000, #000, #000);
}

.cizgi2 {
transform:skewY(0deg);
 margin-top: -20px;
 margin-bottom: 10px;
  width: 40%;
  border: 0;
  border-radius: 10px;
  height: 1.2px;
  background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
}

.adres{
	border: 1px solid #ccc;
	border-radius: 30px;
	padding-left: 30px;
	margin-top: -25px;
	width: 45%;
	height: 65%;
	margin-left: 20px;
}
.map{
	margin-top: -25px;
	width: 47%;
	height: 65%;
	margin-right: 20px;
}
.float-l {
  float:left;
}
.float-r {
  float:right;
}

#info{
	font-size: 20px;
	color: white;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 0.1px;
	padding: 4.5px;
}
/*İletisim Sayfası*/


